<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
        //debug: true, //set this as true to see all areas and current cursor coordinates
        title: '53 Dashboard',
        screen: '../screens/53-Dashboard.png',
        clickableAreas: [
            {x:0.4, y:8.9, width:5.5, y1:10.4, href:'../index.html'},
            {x:9.9, y:31.6, width:8.5, y1:33, href:'ftd-2-0---.html'}
        ]
    });
</script>
</html>