<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
        //debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'CCM 13.0',
        screen: '../screens/ccm-13-0.png',
        clickableAreas: [
            {x:1.95, y:14.38, width:10, height:1.48, href:'ccm-2-0---.html'},
            {x:1.95, y:15.93, width:10, height:1.5, href:'ccm-4-0.html'},
            {x:1.95, y:17.48, width:10, height:1.5, href:'ccm-9-0.html'},
            {x:1.95, y:19.03, width:10, height:1.48, href:'ccm-11-0.html'},
            {x:1.95, y:20.58, width:10, height:1.5, href:'ccm-12-0.html'},
            {x:1.95, y:22.13, width:10, height:1.5, href:'ccm-13-0.html'},
            {x:1.95, y:23.68, width:10, height:1.48, href:'ccm-14-0.html'},
            {x:1.95, y:25.23, width:10, height:1.5, href:'ccm-15-0.html'},
            {x:1.95, y:26.78, width:10, height:1.5, href:'ccm-17-0.html'},
            {x:1.95, y:28.33, width:10, height:1.48, href:'ccm-19-0.html'},
            {x:1.95, y:29.88, width:10, height:1.5, href:'ccm-21-0.html'},
            {x:71.31, y:0.73, x1:74.34, y1:3.07, href:'53-Dashboard.html'}
        ]
    });
</script>
</html>