<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
//        debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'CP 1 Combined',
        screen: '../screens/cp-1-0.png',
        clickableAreas: [
            {x:18.11, y:3.13, x1:25.72, y1:4.48, href:'cp-2-0.html'},
            {x:46.93, y:0.16, x1:58.96, y1:5.5, href:'cp-4-0.html'},
            {x:93.04, y:0.16, x1:99.67, y1:5.5, href:'53-Dashboard.html'}
        ]
    });
</script>
</html>