<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
//        debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'EPay Admin 2 Combined',
        screen: '../screens/epay-Admin-2-0.png',
        clickableAreas: [
            {x:17.43, y:8.6, x1:28.74, y1:11.05, href:'epay-1-0.html'},
            {x:71.31, y:0.73, x1:74.34, y1:3.07, href:'53-Dashboard.html'},
            {x:23.11, y:54.04, x1:28.79, y1:56.49, href:'epay-Admin-1-0.html'}
        ]
    });
</script>
</html>