<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
        //debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'ERM Admin 2.0',
        screen: '../screens/erm-Admin-2-0.png',
        clickableAreas: [
            {x:1.76, y:5.49, x1:7.24, y1:8.93, href:'erm-Admin-1-0.html'},
            {x:93.04, y:0.16, x1:99.67, y1:8.79, href:'53-Dashboard.html'}
        ]
    });
</script>
</html>