<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
        //debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'SDG2 Admin 1.0',
        screen: '../screens/sdg2-Admin-1-0.png',
        clickableAreas: [
            {x:6.68, y:5.34, x1:12.17, y1:8.79, href:'sdg2-Admin-2-0.html'},
            {x:12.17, y:5.34, x1:17.16, y1:8.86, href:'sdg2-Admin-19-0.html'},
            {x:17.16, y:5.34, x1:22.86, y1:8.86, href:'sdg2-Admin-16-0.html'},
            {x:22.86, y:5.34, x1:27.14, y1:8.86, href:'sdg2-Admin-17-0.html'},
            {x:8.79, y:10.69, x1:32.84, y1:12.66, href:'sdg2-Cardholder-1-0.html'},
            {x:30.66, y:59.07, x1:34.46, y1:61.46, href:'sdg2-Admin-15-0.html'},
            {x:93.04, y:0.16, x1:99.67, y1:8.79, href:'53-Dashboard.html'}
        ]
    });
</script>
</html>