<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <link rel="stylesheet" href="../assets/styles.css" />
    <script type="text/javascript" src="../assets/options.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
</head>
<body></body>
<script type="text/javascript" src="../assets/index-button.js"></script>
<script type="text/javascript">
  spots.init({
        //debug: true, //set this as true to see all areas and current cursor coordinates
        title: 'SDG2 Admin 2.0',
        screen: '../screens/sdg2-Admin-2-0.png',
        clickableAreas: [
            {x:6.68, y:8.79, x1:19.13, y1:12.17, href:'sdg2-Admin-3-0.html'},
            {x:93.04, y:0.16, x1:99.67, y1:8.79, href:'53-Dashboard.html'}
        ]
    });
</script>
</html>